body{
    padding: 0;
    margin: 0;
    background-color: rgba(0,0,0,0.1);
    font-family: 'Titillium Web', sans-serif;
}

.app-wrap{
    display:flex;
    justify-content: row;
}
.lists {
    margin-left:20px;
    margin-right:50px;
}